In [49]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
import collections

#UDF
from pyspark.sql.types import IntegerType

# Dataframe instead of RDD
from pyspark.sql import functions

In [15]:
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

22/03/24 13:28:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/24 13:28:02 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/24 13:28:02 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/03/24 13:28:02 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

# Spark-Sql

In [16]:
def mapper(line):
    fields = line.split(',')
    return Row(ID=int(fields[0]), name=str(fields[1].encode("utf-8")), age=int(fields[2]), numFriends=int(fields[3]))

In [17]:
lines = spark.sparkContext.textFile("data/fakefriends.csv")
people = lines.map(mapper)

In [18]:
schemaPeople = spark.createDataFrame(people).cache()
schemaPeople.createOrReplaceTempView("people")

In [19]:
people_sql = spark.sql("SELECT * FROM people")

In [21]:
people_sql.show(5)

+---+-----------+---+----------+
| ID|       name|age|numFriends|
+---+-----------+---+----------+
|  0|    b'Will'| 33|       385|
|  1|b'Jean-Luc'| 26|         2|
|  2|    b'Hugh'| 55|       221|
|  3|  b'Deanna'| 40|       465|
|  4|   b'Quark'| 68|        21|
+---+-----------+---+----------+
only showing top 5 rows

In [26]:
people_sql.select(["name","age"]).show(5)

+-----------+---+
|       name|age|
+-----------+---+
|    b'Will'| 33|
|b'Jean-Luc'| 26|
|    b'Hugh'| 55|
|  b'Deanna'| 40|
|   b'Quark'| 68|
+-----------+---+
only showing top 5 rows

In [39]:
people_sql.filter(people_sql["age"]>=60).show(5)

+---+---------+---+----------+
| ID|     name|age|numFriends|
+---+---------+---+----------+
|  4| b'Quark'| 68|        21|
| 19|b'Geordi'| 60|       246|
| 20|   b'Odo'| 67|       220|
| 38|b'Deanna'| 64|        65|
| 41|  b'Hugh'| 67|       167|
+---+---------+---+----------+
only showing top 5 rows

In [70]:
people_sql.where((people_sql["age"]>=13) & (people_sql["age"]<=19)).show(20)

+---+----------+---+----------+
| ID|      name|age|numFriends|
+---+----------+---+----------+
| 21|  b'Miles'| 19|       268|
| 52|b'Beverly'| 19|       269|
| 54|  b'Brunt'| 19|         5|
|106|b'Beverly'| 18|       499|
|115|  b'Dukat'| 18|       397|
|133|  b'Quark'| 19|       265|
|136|   b'Will'| 19|       335|
|225|   b'Elim'| 19|       106|
|304|   b'Will'| 19|       404|
|341|   b'Data'| 18|       326|
|366|  b'Keiko'| 19|       119|
|373|  b'Quark'| 19|       272|
|377|b'Beverly'| 18|       418|
|404| b'Kasidy'| 18|        24|
|409|    b'Nog'| 19|       267|
|439|   b'Data'| 18|       417|
|444|  b'Keiko'| 18|       472|
|492|  b'Dukat'| 19|        36|
|494| b'Kasidy'| 18|       194|
+---+----------+---+----------+

In [8]:
teenagers = spark.sql("SELECT * FROM people WHERE age >= 13 AND age <= 19")

In [9]:
for teen in teenagers.collect():
    print(teen)

Row(ID=21, name="b'Miles'", age=19, numFriends=268)
Row(ID=52, name="b'Beverly'", age=19, numFriends=269)
Row(ID=54, name="b'Brunt'", age=19, numFriends=5)
Row(ID=106, name="b'Beverly'", age=18, numFriends=499)
Row(ID=115, name="b'Dukat'", age=18, numFriends=397)
Row(ID=133, name="b'Quark'", age=19, numFriends=265)
Row(ID=136, name="b'Will'", age=19, numFriends=335)
Row(ID=225, name="b'Elim'", age=19, numFriends=106)
Row(ID=304, name="b'Will'", age=19, numFriends=404)
Row(ID=341, name="b'Data'", age=18, numFriends=326)
Row(ID=366, name="b'Keiko'", age=19, numFriends=119)
Row(ID=373, name="b'Quark'", age=19, numFriends=272)
Row(ID=377, name="b'Beverly'", age=18, numFriends=418)
Row(ID=404, name="b'Kasidy'", age=18, numFriends=24)
Row(ID=409, name="b'Nog'", age=19, numFriends=267)
Row(ID=439, name="b'Data'", age=18, numFriends=417)
Row(ID=444, name="b'Keiko'", age=18, numFriends=472)
Row(ID=492, name="b'Dukat'", age=19, numFriends=36)
Row(ID=494, name="b'Kasidy'", age=18, numFriends=194)

In [10]:
schemaPeople.groupBy("age").count().orderBy("age").show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows

# UDFs

In [40]:
from pyspark.sql.types import IntegerType

# Using Dataframes instead of Rdds

In [50]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import functions

In [57]:
def loadMovieNames():
    movieNames = {}
    with open("data/u.item",encoding="ISO-8859-1") as f:
        for line in f:
            fields = line.split('|')
            movieNames[int(fields[0])] = fields[1]
    return movieNames

In [58]:
nameDict = loadMovieNames()

In [59]:
lines = spark.sparkContext.textFile("data/u.data")

In [60]:
#Convert RDD to a Row Object
movies = lines.map(lambda x: Row(movieID =int(x.split()[1])))

In [61]:
movies.top(5)

[Row(movieID=1682),
 Row(movieID=1681),
 Row(movieID=1680),
 Row(movieID=1679),
 Row(movieID=1678)]

In [62]:
#convert to a dataframe
movieDataset = spark.createDataFrame(movies)

In [63]:
topMovieIDs = movieDataset.groupBy("movieID").count().orderBy("count", ascending=False).cache()

In [65]:
topMovieIDs.show(5)

+-------+-----+
|movieID|count|
+-------+-----+
|     50|  583|
|    258|  509|
|    100|  508|
|    181|  507|
|    294|  485|
+-------+-----+
only showing top 5 rows

In [66]:
top10 = topMovieIDs.take(5)

In [68]:
for result in top10:
    # Each row has movieID, count as above.
    print("%s: %d" % (nameDict[result[0]], result[1]))

Star Wars (1977): 583
Contact (1997): 509
Fargo (1996): 508
Return of the Jedi (1983): 507
Liar Liar (1997): 485

# Movie Reccomendation Using ALS